.main--header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}
.main--header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main--header-left {
  margin-top: -3rem;
}
.main--header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}
.main--header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1rem;
}
.main--header-left h1 {
  text-transform: capitalize;
}
.main--header-right {
  display: grid;
  place-items: center;
  position: relative;
}
.main-header-circle {
  width: 25rem;
  height: 25rem;
  filter: blur(5px);
  background: linear-gradient(75deg, var(--color-secondary), transparent);
  border-radius: 50%;
  position: absolute;
  transition: var(--transition);
  cursor: pointer;
}
.main-header-img {
  position: relative;
}

/* programs  */
.programs {
  margin-top: 4rem;
}
.program--wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.programs--program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs--program:hover a {
  background-color: var(--color-secondary);
  color: var(--color-gray-600);
}

/* VALUES */
.values--container {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.values--left {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.values--right {
  flex: 60%;
}
.values--image {
  filter: saturate(0.25);
  transition: var(--transition);
}
.values--image > img {
  width: 100%;
}
.values--image:hover {
  filter: saturate(1);
}
.values--right > p {
  margin: 1.5rem 2rem 4rem;
}
.values--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.4rem 2.4rem;
}
.card.values--value {
  flex: 30%;
  padding-top: 2rem;
  text-align: left;
  position: relative;
}
.card.values--value span {
  position: absolute;
  top: -1.5rem;
}

/* FAQS */
.faqs--wrapper {
  margin-top: 4rem;
  display: flex;
  gap: 1.5rem 5rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.faq {
  background-color: var(--color-gray-500);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  flex: 43%;
}
.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq--icon {
  background: transparent;
  color: var(--color-gray-100);
  font-size: 1.5rem;
  cursor: pointer;
}
.faq p {
  margin-top: 1.5rem;
}

/* TESTIMONIALS */
.testimonials {
  width: 50rem;
  margin-inline: auto;
}
.testimonials--head {
  justify-content: center;
}
.card.testimonial {
  position: relative;
  text-align: left;
  margin-top: 5rem;
}
.testimonial--avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: absolute;
  top: -2rem;
  left: calc(50% - 2rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
}
.testimonials:hover .testimonial--avatar {
  border-radius: 50%;
  border-color: var(--color-gray-400);
}
.testimonial--quote {
  font-style: italic;
  margin: 1rem 0 2rem;
}
.card small.testimonial--title {
  margin-top: 0.3rem;
}

.testimonials--btn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.testimonials--btn {
  background-color: transparent;
  cursor: pointer;
}
.testimonials--btn svg {
  fill: var(--color-primary);
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
}

/* footer */
footer {
  background: var(--color-primary);
  margin-top: 7rem;
  padding-top: 7rem;
  font-size: 0.9rem;
  color: var(--color-gray-100);
}
.footer--container {
  display: flex;
  gap: 6rem;
}
.footer--container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}
.footer--container article p {
  margin-top: 0.5rem;
}
.footer--container article h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.footer--socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer--socials a {
  background: var(--color-gray-100);
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  transition: var(--transition);
}
.footer--socials a svg {
  color: var(--color-gray-600);
}
.footer--socials a:hover {
  border-color: var(--color-gray-100);
  background: transparent;
}
.footer--copyright {
  color: var(--color-gray-100);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-primary-variant);
  margin-top: 5rem;
}
footer .logo > span {
  color: rgba(3, 82, 255, 0.765);
}

/* MEDIA  QUERIS  media screens */
@media screen and (max-width: 1024px) {
  .main--header {
    height: fit-content;
    padding: 12rem 0;
  }
  .main--header-container {
    gap: 0;
  }
  .main-header-circle {
    width: 16rem;
    height: 16rem;
  }
  /* PROGRAMS */
  .program--wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  /* Values */
  .values--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .values--wrapper {
    gap: 4rem 3rem;
  }
  .values--image {
    display: none;
  }
  /* FAQ */
  .faqs--wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .faq {
    width: 100%;
  }
  /* testimonials */
  .testimonials {
    width: 75%;
  }
  .footer--container {
    flex-wrap: wrap;
  }
  .footer--container article {
    flex: 40%;
  }
}

/* media queries  small screens*/
@media screen and (max-width: 600px) {
  .main--header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }
  .main-header-img,
  .main-header-circle {
    display: none;
  }
  .main--header-container {
    grid-template-columns: 1fr;
  }

  /* programs */
  .program--wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }
  .programs--program {
    width: 84%;
    margin: 0 auto;
  }

  /* Valus */
  .values--wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .card.values--value {
    width: 84%;
    margin: 0 auto;
  }

  /* FAQS */
  .faqs--wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }
  /* testimonials */
  .testimonials {
    width: 100%;
  }
  .footer--container {
    flex-direction: column;
    gap: 3rem;
  }
  .footer--container article {
    align-items: center;
  }
  .footer--container article p {
    text-align: center;
  }
}
